@charset "utf-8";

.plice {
    color: rgb(255, 80, 80);
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.appInfoButtom {
    height: 60px;
}

.appInfoTop {
    height: 100px;
    margin: 0;
}

.buttonPadding {
    margin: 10px;
}

.appIcon {
    height: 100px;
}

.appTitle {
    margin: calc((100px - var(--h4size))/2) 0;
    vertical-align: middle;
}

iframe {
    display: block;
    width: 100%; /* 任意の横幅を指定 */
    height: auto;
    aspect-ratio: 16/9;
}

.pToTitle {
    font-size: var(--h4size);
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
